Create an E-Commerce API MVP using ExpressJS.

Packages Required:
express
mongoose
cors
bcrypt
jsonwebtoken
nodemon

Features Required:

User registration /
User authentication /
Set user as admin/back to user (Admin only) /
Retrieve all active products /
Retrieve single product /
Create Product (Admin only) /
Update Product information (Admin only) /
Archive Product (Admin only) /
Non-admin User checkout (Create Order) /
Retrieve authenticated user’s orders /
Retrieve all orders (Admin only) /


Stretch Requirements:
Activate Product (Admin Only) /
Display Products Per Order (User Only) 



Data Model Requirements
User
First Name (string)
Last Name (String)
MobileNo (String)
Email (string)
Password (string)
isAdmin (Boolean - defaults to false)

Product
Name (string)
Description (string)
Price (number)
isActive (Boolean - defaults to true)
createdOn (Date - defaults to current date of creation)

Order
totalAmount (number)
purchasedOn (Date - defaults to current date of creation)
Must be associated with:
A user who owns the order
Products that belong to the order 




Must have for everyone
admin
admin@gmail.com
admin123

user1
sampleUser@gmail.com
sample123

user2
iverson@gmail.com
maloneqt

{
	"email": "admin@gmail.com",
	"password": "admin123"
}

{
	"email": "iverson@gmail.com",
	"password": "maloneqt"
}

{
	"email": "sampleUser@gmail.com",
	"password": "sample123"
}

{
	"email": "heisenberg@gmail.com",
	"password": "321"
}

Enjoy and explore with Aloy in distant lands, fight bigger and more awe-inspiring machines, and encounter astonishing new tribes as you return to the far-future, post-apocalyptic world of Horizon.